#typeDiv {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 10%;
	text-align: center;
}

#txt1 {
	font-size: 16px;
	text-align: center;
	color: white;
}
#txt2 {
	font-size: 16px;
	text-align: center;
	color: white;
}

#content{
	position: absolute;
	top: 1%;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 20%;
}

#together {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* به متن سایه اضافه می‌کند */
}


#timer{
	text-align: center;
	color: white;
}

#d{
	font-size: 19px;
}

#h{
	font-size: 19px;
}

#m{
	font-size: 19px;
}

#s{
	font-size: 19px;
}

#heartTxt{
	position: absolute;
	display: table;
	vertical-align: middle;
	top: 80%;
	left: 0;
	right: 0;
	margin: auto;
	width: 10%;
	height: 8%;
}

#clickMe{
	display: inline-block;
	font-size: 16px;
	width: 100%;
	text-align: center;
	color: white;
}

#heart{
	width: 100%;
	height: 100%;
}

#button{
	background-image: url("../pic/love.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	border: none;
	outline: none;
	background-position: center;
	transition: 0.1s;
	width: 100%;
	height: 100%;

}

#button:active {
	width: 92%;
	height: 92%;
}

#imgTxt{
	position: absolute;
	display: table;
	vertical-align: middle;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 50%;
}

#img {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;   /* عرض تصویر را به 90% صفحه محدود می‌کنیم */
    max-height: 60vh; /* حداکثر ارتفاع تصویر 60% ارتفاع صفحه باشد */
    width: auto;      /* عرض تصویر به‌طور خودکار تنظیم می‌شود */
    height: auto;     /* ارتفاع تصویر به‌طور خودکار تنظیم می‌شود */
    object-fit: contain;  /* حفظ تناسب تصویر بدون کشیده شدن */
    border-radius: 30px; /* اضافه کردن گوشه‌های گرد به تصویر */
}



#Txt{
	display: inline-block;
	font-size: 17px;
	width: 100%;
	text-align: center;
	color: white;
}

#tmp{
	display: inline-block;
	font-size: 17px;
	width: 100%;
	text-align: center;
	color: white;
}


#finalMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    display: none;  /* مخفی بودن پیش‌فرض */
}
